*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
}
:root{
    --principal: #000000;
    --secondary: #F4F4F4;
    --optRed: #F2252E;
    --optYellow: #FEB91E;
    --inputs: #F0F0F0;
}

/* Estilos del navbar */
.navBar{
    background: var(--secondary);
    width: 100%;
    height: 90px;
    max-height: 90px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    flex-wrap: nowrap;
}
.left{    
    min-width: 90px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    padding: 10px 0;
}
.center > .title{
    display: block;
    width: 100%;
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: capitalize;
}
.center > .subTitle{
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 900;
    color: var(--optRed);
    text-transform: uppercase;
}
.rigth{
    min-width: 80px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}  
.imageLogo{
    height: 70px;
    cursor: pointer;
}
#btnMenu{
    background: transparent;
    background-image: url('../assets/images/menu/MenuOff.svg');
    background-repeat: no-repeat;
    background-size: 50px;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    transition: .6s;
}
#menu{
    display: none;
    width: 100%;
    height: 0;
    /* height: calc(100vh - 90px); */
    background: var(--secondary);
    box-shadow: 0 10px 10px #00000040;
    position: fixed;
    top: 90px;
    left: 0;
    overflow: hidden;
    transition: 1s ease-in-out;
}
.optMenu{
    display: block;
    width: 280px;
    margin: auto;
    background: transparent;
    color: var(--principal);
    font-size: 2rem;
    font-weight: 900;
    text-transform: capitalize;
    border: none;
    border-bottom: 2px solid #00000080;
    padding: 3vh 1vh;
}
#menu > label{
    display: block;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 900;
    text-transform: capitalize;
    margin: 8vh 0 3vh;
    text-align: center;
}
#language{
    display: block;
    margin: auto;
    transition: .6s;
}
#language:hover{
    transform: scale(1.1);
}

/* Estilos del pagecontent */
.pageContent{
    background: var(--secondary);
    padding: calc(90px + 1rem) 1rem 1rem;
    min-height: calc(100vh - 120px);
}

/* Estilos de Footer */
.footer{
    width: 100%;
    height: 120px;
    max-height: 120px;
    background: var(--principal);
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer > div{
    width: calc(100% / 3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer > .left{
    flex-wrap: wrap;
}
.footer > .left > img{
    width: 70px;
    margin: auto 0 1vh;
    cursor: pointer;
}
.footer > .left > label{
    display: block;
    width: 100%;
    margin-bottom: auto;
    color: #fff;
    font-size: .6rem;
    text-align: center;
}
.footer > .center{
    flex-wrap: wrap;
}
.footer > .center > .title{
    color: #fff;
    font-size: 1.6rem;
    text-align: center;
    margin-top: auto;
}
.footer > .center > .subTitle{
    text-align: center;
    font-size: .7rem;
    margin-bottom: auto;
}
.facebook, .instagram, .whatsApp{
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
    background-size: 30px;
    margin: 3px;
    cursor: pointer;
    transition: .6s;
}
.facebook{
    background-image: url('../assets/images/contact/Facebook.svg');    
}
.instagram{
    background-image: url('../assets/images/contact/Instagram.svg');
}
.whatsApp{
    background-image: url('../assets/images/contact/Whatsapp.svg');
}
.facebook:hover, .instagram:hover, .whatsApp:hover{
    transform: scale(1.1);
}

/* Estilos de los toastr */
#notifications{
    position: fixed;
    z-index: 9999999;
    pointer-events: none;
    bottom: 12px;
    right: 12px;
}
.toast{
    background: #fff;
    position: relative;
    margin-top: 1rem;
    margin-left: auto;
    padding: 20px 30px 20px 65px;
    width: 300px;
    border-radius: 2vh 2vh 0 2vh;
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: 20px;
    pointer-events: auto;
    word-wrap: break-word;
    transition: .6s;
}
.toast:hover{
    width: 320px;
    cursor: pointer;
}
.toast > .titleToast{
    display: block;
    font-size: 1.1rem;
    font-weight: 900;
}
.toast-success{
    color: #06853C;
    box-shadow: 0 0 20px #06853C99;
    border: 1px solid #06853C99;
    background-image: url('../assets/images/toastr/Success.svg');
}
.toast-error{
    color: #D62D30;
    box-shadow: 0 0 20px #D62D3099;
    border: 1px solid #D62D3099;
    background-image: url('../assets/images/toastr/Error.svg');
}
.toast-warning{
    color: #F57438;
    box-shadow: 0 0 20px #F5743899;
    border: 1px solid #F5743899;
    background-image: url('../assets/images/toastr/Warning.svg');
}
.toast-info{
    color: #1D81BC;
    box-shadow: 0 0 20px #1D81BC99;
    border: 1px solid #1D81BC99;
    background-image: url('../assets/images/toastr/Info.svg');
}