*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
}
:root{
    --principal: #000000;
    --secondary: #F4F4F4;
    --optRed: #F2252E;
    --optYellow: #FEB91E;
    --inputs: #F0F0F0;
}

/* Estilos del navbar */
.navBar{
    background: var(--secondary);
    width: 100%;
    height: 90px;
    max-height: 90px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    flex-wrap: nowrap;
}
.left{    
    min-width: 90px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    padding: 10px 0;
}
.rigth{
    min-width: 80px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}  
.imageLogo{
    height: 70px;
    cursor: pointer;
}
#btnMenu{
    background-image: url('../assets/images/Menu.png');
    background-repeat: no-repeat;
    background-size: 50px;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    transition: .6s;
}
#btnMenu:hover{
    rotate: 810deg;
}
.center > .title{
    display: block;
    width: 100%;
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: capitalize;
}
.center > .subTitle{
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 900;
    color: var(--optRed);
    text-transform: uppercase;
}

/* Estilos del pagecontent */
.pageContent{
    background: var(--secondary);
    padding: calc(90px + 1rem) 1rem 1rem;
    min-height: calc(100vh - 80px);
}

/* Estilos del modal */
/* .modal{
    display: none;
    width: 80vw;
    max-height: 80vh;
    position: fixed;
    top: 10vh;
    left: 10vw;
    z-index: 9999;
    background: #fff;
    border-radius: 2vh;
    box-shadow: 0 0 6px #777;
    contain: content;
    overflow-y: scroll;
}
.modal::-webkit-scrollbar{
    width: 0;
}
.closeModal{
    width: 30px;
    height: 30px;
    position: absolute;
    background-image: url('../assets/images/toastr/Error.png');
    background-size: 30px;
    cursor: pointer;
}
.modal > form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.titleForm{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 2vh;
}
.fieldForm{
    width: 45%;
    min-width: 200px;
    margin: 1vh auto;
}
.titleFieldForm{
    font-size: 1.1rem;
    font-weight: 700;
}
.inputFieldForm{
    width: 100%;
    background: var(--inputs);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center left 15px;
    border: none;
    border-radius: 1vh;
    padding: 1.5vh 1.5vh 1.5vh 60px;
    font-size: 1.1rem;
    outline: none;
}
.inputField:focus{    
    border-bottom: 2px solid var(--principal);
}
.contBtn{
    width: 100%;
}
.email{
    background-image: url('../assets/images/icons/Email.png');
}
.pass{
    background-image: url('../assets/images/icons/Password.png');
}
.route{
    background-image: url('../assets/images/icons/Route.png');
}
.name{
    background-image: url('../assets/images/icons/Name.png');
}
.tel{
    background-image: url('../assets/images/icons/Tel.png');
}
.address{
    background-image: url('../assets/images/icons/Address.png');
}
.category{
    background-image: url('../assets/images/icons/Category.png');
}
.money{
    background-image: url('../assets/images/icons/Money.png');
}
.role{
    background-image: url('../assets/images/icons/Role.png');
}
.document {
    background-image: url('../assets/images/icons/Document.png');
}
.product {
    background-image: url('../assets/images/icons/Product.png');
}
.cant {
    background-image: url('../assets/images/icons/Cant.png');
}
.reason {
    background-image: url('../assets/images/icons/Reason.png');
} */

/* Estilos de Footer */
.footer{
    width: 100%;
    height: 80px;
    max-height: 80px;
    background: var(--principal);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.contactUs{
    width: 100%;
    text-align: center;
}
.facebook, .instagram, .whatsApp{
    background: transparent;
    background-size: 30px;
    border: none;
    width: 30px;
    height: 30px;
    margin: 10px 5px 5px;
    transition: .6s;
}
.facebook{
    background-image: url('../assets/images/contact/Facebook.png');    
}
.instagram{
    background-image: url('../assets/images/contact/Instagram.png');
}
.whatsApp{
    background-image: url('../assets/images/contact/WhatsApp.png');
}
.facebook:hover, .instagram:hover, .whatsApp:hover{
    transform: scale(1.1);
}
.copyRight{
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 1rem;
    padding: 0 10px 5px;
}

/* Estilos de los toastr */
#notifications{
    position: fixed;
    z-index: 9999999;
    pointer-events: none;
    bottom: 12px;
    right: 12px;
}
.toast-info{
    background: #2aa3c3;
    background-image: url('../assets/images/toastr/Info.png');
}
.toast-success{
    background: #129620;
    background-image: url('../assets/images/toastr/Success.png');
}
.toast-error{
    background: #c53002;
    background-image: url('../assets/images/toastr/Error.png');
}
.toast-warning{
    background: #ffaa00;
    background-image: url('../assets/images/toastr/Warning.png');
}
.toast{
    position: relative;
    margin-bottom:6px;
    padding: 15px 15px 15px 50px;
    width: 300px;
    border-radius: 1vh;
    background-position: 15px;
    background-repeat: no-repeat;
    background-size: 24px;
    box-shadow: 0 0 8px #000;
    color: #fff;
    font-weight: 500;
    pointer-events: auto;
    word-wrap: break-word;
}
.toast:hover{
    box-shadow: 0 0 12px #999;
    cursor: pointer;
}
.toast > b{
    display: block;
    font-size: 1.1rem;
    text-shadow: 1px 1px 1px #000;
}