/* Estilos del pagecontent */
.pageContent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: calc(90px + 1rem) 0 1rem;
}
.slider{
    width: 100%;
    height: 220px;
    padding: 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
    scroll-snap-type: both;
}
.slider::-webkit-scrollbar{
    display: none;
}
.slider > img{
    width: 180px;
    margin: 0 10px;
    scroll-snap-align: center;
    transition: .6s;
}
.slider > img.destacada {
    transform: scale(1.2);
}

/* Responsive */
@media (max-width: 980px) {    
    .slider{
        justify-content: left;
    }
}