/* Estilos del pagecontent */
.pageContent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: calc(90px + 1rem) 0 1rem;
}
.slider{
    width: 100%;
    height: 220px;
    padding: 0 100px;
    margin: 2vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
    scroll-snap-type: both;
}
.slider::-webkit-scrollbar{
    display: none;
}
.slider > img{
    width: 180px;
    margin: 0 10px;
    scroll-snap-align: center;
    transition: .6s;
}
.slider > img.destacada {
    transform: scale(1.2);
}
.textCarta{
    padding: 0 1rem;
}
.textCarta > h2{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
}
.textCarta > p{
    margin-top: 1vh;
    text-align: center;
    font-size: 1.1rem;
}
#btnCard{
    display: block;
    width: 250px;
    height: 50px;
    font-size: 1.1rem;
    padding: 0 50px 0 20px;
    margin: 4vh auto;
    background: var(--principal);
    background-image: url("../assets/images/icons/ArrowRight.svg");
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center right 10px;
    color: #fff;
    border-radius: 3vh;
    transition: .6s;
}
#btnCard:hover{
    transform: scale(1.1);
}
.address{
    display: flex;
    margin: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.address > img{
    width: 150px;
    margin-bottom: 1vh;
    transition: .6s;
}
.address > img:hover{
    transform: scale(1.1);
}
.address > label{
    display: block;
    width: 100%;
    text-align: center;    
}

/* Responsive */
@media (max-width: 980px) {    
    .slider{
        justify-content: left;
    }
}